<!DOCTYPE html>
<html lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<style>
			#containerDiv{
				width:1080px;
				margin:0 auto;
				height:800px;
			}
			#headDiv{
				height:291px;
				width:1080px;
			}
			#linkDiv{
				background-color:#D0D0D0;
				height:300px;
				width:1080px;
				text-align:center;
			}
			#footerSocial{
				height:90px;
				width:1080px;
				background-color:#333437;
			}
			#footerSocialIcons{
				text-align:center;
				margin:0;
			}
			#footerSocialIcons li{
				display:inline-block;
				list-style:none;
				margin-top:20px;
			}
			#bottomDiv{
				height:300px;
				width:1080px;
				background-color:#1F2022;
			}
			.site-info{
				color:#515254;
				float:left;
				width: 40%;
				padding: 5% 0;
			}
			.site-info p a{
				text-decoration:none;
				color:#515254
			}
			.site-info h3 a{
				font-size: 48px;
				font-family: 'ChunkFiveRegular';
				line-height: 1.1;
				width: 86%;
				margin: 0 7%;
				text-align: center;
				color:#515254;
			}
			.footer-widget-three
			{
				width: 20%;
				padding: 5% 0;
				float:left;
			}
			.site-info p {
				width: 84%;
				margin: 0 8% 5px 8%;
				color: #515254;
				line-height: 1.3;
				text-align: left;
				font-size: 120%;
				font-family: -webkit-pictograph;
			}	
			.screen-reader-text {
				clip: rect(1px, 1px, 1px, 1px);
				position: absolute !important;
			}
			.search-field {
				background: #2F2F2F !important;
				color: #878786;
				width: 95%;
				margin-bottom: 10px;
				border-radius: 0 !important;
				border: 0 !important;
				padding: 0.7em 0 0.7em 5% !important;
			}
			.footer-search {
				width: 64%;
				margin: 20px 8% 5px 8%;
			}
			.search-submit {
				border:0;
				margin:0;
				cursor:pointer;
				background: #000 !important;
				color: #fff !important;
				display: inline-block;
				padding: 0.7em 2.5em !important;
				border: 0 !important;
				box-shadow: none !important;
				border-radius: 0 !important;
			}
			.footer-widget-three .widget {
				width: 80%;
				margin: 5% 5%;
				padding: 0 5%;
				color: #8C9094;
				font-size: 14px;
				}
			.footer-widget-three .widget h1 {
				margin: 0 0 0.5em 0;
				color: #B0B5BB;
				font-size: 19px;
			}
			.footer-widget-three .widget ul li a {
				text-decoration: none;
				color: #8C9094;
			}
			.footer-widget-three .widget ul{
				margin:0;
				padding:0;
			}
			.footer-widget-three .widget ul li {
				margin: 0;
				padding: 0.3em 0;
				list-style:none;
				font-size: 18px;
			}
			.footer-widget-three aside{
				margin-top:0px;
			}
		</style>
	</head>
	<body>
		<div id='containerDiv'>
		<div style='height:50px;width:1080px;background-color:#1F2022;margin-top:-10px;'></div>
		<div id='headDiv'><img src='/assets/title.png' style='height:292px;width:1080px;'></div>
		<div id='linkDiv'>
			<a href="/register" target='_blank'><img src='/assets/signup.png' style='height:50px;margin-top:100px;margin-right:20px;'></a>
			<a href="http://forum.appcontest.showingcloud.com/" target='_blank'><img style='height:50px;margin-top:100px;' src='/assets/officailForum.png'></a>
		</div>
		<div id="footerSocial">
				<ul id="footerSocialIcons">
				
					<li><a href="https://twitter.com/showingcloud" target="_blank"><img src="http://cn.showingcloud.com/wp-content/themes/alexandria/images/twitter.png" title="Twitter" /></a></li>
					
					<li><a href="https://www.facebook.com/showingcloud" target="_blank"><img src="http://cn.showingcloud.com/wp-content/themes/alexandria/images/facebook.png" title="facebook" /></a></li>
					
					<li><a href="http://www.linkedin.com/company/showing-cloud-software-service-co-ltd-" target="_blank"><img src="http://cn.showingcloud.com/wp-content/themes/alexandria/images/linkedin.png" title="linkedin" /></a></li>

					<li><a href="https://www.google.com/+showingcloud" target="_blank"><img src="http://cn.showingcloud.com/wp-content/themes/alexandria/images/gplus.png" title="google" /></a></li>
				</ul>
		</div>
		<div id='bottomDiv'>
            <div class="site-info">
				<h3 style=" margin-top: 0px;"><a href="http://cn.showingcloud.com/" style="text-decoration:none;">修酝软件</a></h3>
                <p>&copy; All rights reserved.</p>
                <div class="footer-search">
					<form role="search" method="get" class="search-form" action="http://cn.showingcloud.com/">
					<label>
						<span class="screen-reader-text">Search for:</span>
						<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:">
					</label>
					<input type="submit" class="search-submit" value="Search">
					</form>
				</div>
            </div><!-- .site-info -->
            
            <div class="footer-widget-three">
            	                
                    <aside id="archives" class="widget">
                        <h1 class="widget-title">Archives</h1>
                        <ul>
                            	<li><a href='http://cn.showingcloud.com/2013/12/'>December 2013</a></li>
                        </ul>
                    </aside>                                                                                
                                                                                
            </div>
            
            <div class="footer-widget-three">
            	
                    <aside id="meta" class="widget">
                        <h1 class="widget-title">Meta</h1>
                        <ul>
                                                        <li><a href="http://cn.showingcloud.com/wp-login.php">Log in</a></li>
                                                    </ul>
                    </aside>                                                                                
                                                                                
                            
            </div>
            
            <div class="footer-widget-three">
            	
                    <aside id="archives" class="widget">
                        <h1 class="widget-title">Archives</h1>
                        <ul>
                            <li class="page_item page-item-2 current_page_item"><a href="http://cn.showingcloud.com/">首页</a></li>
                        </ul>
                    </aside>                                                                                 
                                                                                
                            
            </div>
		</div>
		</div>
	</body>
</html>
