<!DOCTYPE html>
<html lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<style>
		</style>
	</head>
	<body>
	<form>
		<div id="leaderInfo">
			<h3>领队信息</h3>
			<p><label>姓名</label><input type='text' required="required"/></p>
			<p><label>性别</label><select><option>男</option><option>女</option></select></p>
			<p><label>学校</label><input type='text'/></p>
			<p><label>学院专业</label><input type='text'/></p>
			<p><label>邮箱</label><input type='text'/></p>
			<p><label>QQ</label><input type='text'/></p>
			<p><label>手机</label><input type='text'/></p>
			<p><label>项目全称</label><input type='text'/></p>
			<p><label>申报类别</label><select><option>创意组</option><option>技术组</option></select></p>
			<p><label>队伍人数</label><select><option>3</option><option>4</option><option>5</option></select></p>
		</div>
		<div id="memberInfo">
			<h3>其他成员信息</h3>
			<table>
				<thead>
					<tr>
						<th>姓名</th>
						<th>学院专业</th>
						<th>QQ</th>
						<th>手机</th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody>
					<tr>
						<td><input type='text'/></td>
						<td><input type='text'/></td>
						<td><input type='text'/></td>
						<td><input type='text'/></td>
					</tr>
				</tbody>	
				</table>
		</div>
		<div id='productInfo'>
			<h3>项目内容</h3>
			<p><label>项目目的</label><textarea rows="2"></textarea><input type='checkbox'/><label>还未想好</label></p>
			<p><label>项目的实际应用价值和现实指导意义</label><textarea rows="2"></textarea><input type='checkbox'/><label>还未想好</label></p>
			<p><label>项目计划与进度</label><textarea rows="2"></textarea><input type='checkbox'/><label>还未想好</label></p>
			<p>
				<select>
					<option>图书</option>
					<option>商业</option>
					<option>商品指南</option>
					<option>教育</option>
					<option>娱乐</option>
					<option>财务</option>
					<option>美食餐饮</option>
					<option>游戏</option>
					<option>健康健美</option>
					<option>儿童</option>
					<option>生活</option>
					<option>医疗</option>
					<option>音乐</option>
					<option>导航</option>
					<option>新闻</option>
					<option>报刊杂志</option>
					<option>摄影与录像</option>
					<option>效率</option>
					<option>参考</option>
					<option>社交</option>
					<option>体育</option>
					<option>旅行</option>
					<option>工具</option>
				</select>
				<label>项目摘要</label><textarea rows="2"></textarea>
				<input type='checkbox'/><label>还未想好</label>
			</p>
			<p>
				<label>项目详细内容</label><textarea rows="2"></textarea>
				<input type='checkbox'/><label>还未想好</label>
			</p>
		</div>
		<div id='btnDiv'>
			<input type='submit' value='提交'/>
			<input type='button' value='清空'/>
		</div>
		</form>
	</body>
</html>