<!DOCTYPE html>
<html lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<style>
		.preLabel{
			width:100px;
			text-align:right;
			display:inline-block;
		}
		.preLabel1{
			width:150px;
			text-align:right;
			display:inline-block;
		}
		#containerDivReg{
			height:900px;
			width:960px;
			margin:0 auto;
		}
		#memberInfoTab{
			display:inline-block;
			margin-left:100px;
			float:left;
		}
		.selector{
			width:90px;
			display:inline-block;
		}
		.textareaInput{
			width:300px;
		}
		#productInfo table{
			margin-top:10px;
		}
		#submitBtn{
			color: white;
			height: 30px;
			width: 60px;
			border: 0;
			padding: 0;
			border-radius: 5px;
			cursor: pointer;
			margin-left: 200px;
			background-color: rgb(56, 205, 50);
		}
		#resetBtn{
			color: white;
			height: 30px;
			width: 60px;
			border: 0;
			padding: 0;
			border-radius: 5px;
			cursor: pointer;
			margin-left: 30px;
			background-color: rgb(199, 205, 50);
		}
		#logoDiv{
			float:right;
			margin-right:50px;
		}
		#containerDivReg h2
		{
			color:#89C6B6;
			padding-bottom:10px;
			border-bottom: 1px solid black;
		}
		#memberInfoTab td input
		{
			text-align:center;
		}
		</style>
	</head>
	<body>
	<form id='registerForm'>
	<div style='width:100%;height:70px;margin-top:-10px;background-color:#1F2022;'>
		<div style='width:960px;height:70px;margin:0 auto;text-align:center;'><img src=<%= image_path('regTitle.png') %> style='margin-top:10px'><a href='/home' style='text-decoration:none;color:#B0B0B0;font-size:13px;'><span>返回首页</span></a></div>
	</div>
	<div id='containerDivReg'>
		<div id="memberInfo">
			<h2>成员信息</h2>
			<p>
				<label class='preLabel' style='float:left'>队伍人数：</label>
				<select class='selector' id='memberCount' onchange='changeRows()'>
					<option value='1'>1</option>
					<option value='2'>2</option>
					<option value='3'>3</option>
					<option value='4'>4</option>
					<option value='5'>5</option>
				</select>
				<div style='clear:both;'></div>
			</p>
			<table id='memberInfoTab' border="0" cellspacing="0" cellpadding="1px">
				<thead>
					<tr>
						<th>姓名</th>
						<th>性别</th>
						<th>学校</th>
						<th>学院专业</th>
						<th>邮箱</th>
						<th>QQ</th>
						<th>手机</th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody>
					<tr>
						<td><input id='name0' style="width:100px" type='text'/></td>
						<td><select id='gender0'><option value='0'>男</option><option value='1'>女</option></select></td>
						<td><input id='school0' type='text'/></td>
						<td><input id='major0' type='text' style="width:130px"/></td>
						<td><input id='email0' type='text' style="width:140px"/></td>
						<td><input id='qq0' style="width:90px" type='text'/></td>
						<td><input id='mobile0' style="width:90px" type='text'/></td>
					</tr>
				</tbody>
			</table>
			<label style='display: inline-block;float:left;margin-left:8px;font-weight:bolder;margin-top:25px;color:#63C9FF'>队长</label>
			<div style='clear:both;'></div>
		</div>
		<div id='productInfo'>
			<h2>项目内容</h2>
			<table class="content_tab" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><label class='preLabel1'>项目种类：</label></td>
				<td><select id='project_category' class='selector'>
					<option>图书</option>
					<option>商业</option>
					<option>商品指南</option>
					<option>教育</option>
					<option>娱乐</option>
					<option>财务</option>
					<option>美食餐饮</option>
					<option>游戏</option>
					<option>健康健美</option>
					<option>儿童</option>
					<option>生活</option>
					<option>医疗</option>
					<option>音乐</option>
					<option>导航</option>
					<option>新闻</option>
					<option>报刊杂志</option>
					<option>摄影与录像</option>
					<option>效率</option>
					<option>参考</option>
					<option>社交</option>
					<option>体育</option>
					<option>旅行</option>
					<option>工具</option>
				</select></td>
			</tr>
			</table>
			<table class="content_tab" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><label class='preLabel1'>项目全称：</label></td>
				<td><input id='project_name' type='text' style='margin:0;'/></td>
			</tr>
			</table>
			<table class="content_tab" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><label class='preLabel1'>项目目的：</label></td>
				<td><textarea class='textareaInput' id='project_target' rows="4"></textarea></td>
				<td><input type='checkbox' id='project_target_chk' class='checks'/></td>
				<td><label for='project_target_chk'>还未想好</label></td>
			</tr>
			</table>
			<table class="content_tab" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><label class='preLabel1'>项目的实际应用价&nbsp;&nbsp;<br>值和现实指导意义：</label></td>
				<td><textarea class='textareaInput' id='project_meaning' rows="4"></textarea></td>
				<td><input type='checkbox' id='project_meaning_chk' class='checks'/><td>
				<td><label for='project_meaning_chk' >还未想好</label></td>
			</tr>
			<table class="content_tab" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><label class='preLabel1'>项目计划与进度：</label></td>
				<td><textarea class='textareaInput' id='project_schedule' rows="4"></textarea></td>
				<td><input type='checkbox' id='project_schedule_chk' class='checks'/></td>
				<td><label for='project_schedule_chk'>还未想好</label></td>
			</tr>
			</table>
			<table class="content_tab" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><label class='preLabel1'>项目摘要：</label></td>
				<td><textarea class='textareaInput' id='project_abstract' rows="4" ></textarea></td>
				<td><input id='project_abstract_chk' type='checkbox'/ class='checks'></td>
				<td><label for='project_abstract_chk'>还未想好</label></td>
			</tr>
			</table>
			<table class="content_tab" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><label class='preLabel1'>项目详细内容：</label></td>
				<td><textarea class='textareaInput' id='project_details' rows="4"></textarea></td>
				<td><input type='checkbox' id='project_details_chk' class='checks'/></td>
				<td><label for='project_details_chk'>还未想好</label></td>
			</tr>
			</table>
		</div>
		<table class="content_tab" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class='preLabel1'>验证码：</td>
				<td class="authenticationtd"><%= show_simple_captcha(:label => "human authentication", :placeholder => "input the characters") %></td>                           
			</tr>
        </table> 
		<div id='btnDiv'>
			<input type='button' id='submitBtn' value='提交' onclick='register()'/>
			<input type='button' id='resetBtn' value='清空' onclick='clearForm()'/>
		</div>
		</div>
		</form>
	</body>
</html>
